body {
  background-color: #fff;
  touch-action: pan-y;
}
body li {
  list-style: none;
}
body .myCart {
  display: flex;
}
body .myCart .switch {
  flex: 1;
}
body .myCart .main {
  flex: 9;
  margin-left: 10px;
}
